.banner-reservacion {
    background-size: cover;
    width: 100%;
    background: rgba(0,0,0,.7);
    z-index: 1000;
    top: 0;
    content:'Hola';
}
  
.banner-img {
    width: 100%;
}
  
.banner__content {
    width: 90%;
    color: white;
    text-align: center;
    position: absolute;
    z-index: 1500;
    left: 50%;
    top: 12%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 2.5em;
    font-weight: bold;
}

.content-image {
    width: 290px;
    height: 200px;
    object-fit: cover;
}

.link {
    color: white;
}

.single-menu {
    margin-left: auto;
    margin-right: auto;
}

